.container {
  margin-top: 15%;
  margin-left: 8%;
  max-width: 28rem; }

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: inherit; }

.home-name {
  margin-bottom: 0.2rem; }

.home-subtitle {
  color: #757575; }

.home-subtitle a {
  color: inherit;
  font-family: 'Open Sans', sans-serif; }

.home-header {
  margin-bottom: .3rem;
  font-family: 'Open Sans', sans-serif; }

.home-nav {
  font-family: 'Open Sans', sans-serif;
  max-width: 26rem; }

.home-nav td {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px; }

.home-nav-secondary {
  opacity: 0.8; }

.home-nav-secondary a {
  color: #4B86B0; }

.home-nav-secondary span:after {
  content: ' /';
  color: #c0c0c0; }

.home-nav-secondary span:last-of-type:after {
  content: ""; }

@media screen and (max-width: 768px) {
  #container {
    min-width: 200px;
    max-width: 790px;
    margin: 0 auto;
    padding: 30px; } }
@media only screen and (min-width: 769px) {
  #container {
    min-width: 200px;
    max-width: 790px;
    margin: 0 auto;
    margin-top: 7%;
    padding: 30px; } }
